{% load static %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]-->
<!-->
<html class="no-js" lang="en"><!--<![endif]-->

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ananke</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" />
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flat_filled_styles.css' %}"><!--SVG Animation Styles-->
    <link rel="stylesheet" href="{% static 'css/retina.css' %}" />

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

</head>

<body class="royal_loader">
    <!-- Primary Page Layout
    ================================================== -->

    <div id="menu-wrap" class="menu-back cbp-af-header">
        <div class="container">
            <div class="sixteen columns">
                <div class="logo"></div>
                <ul class="slimmenu">
                    <li>
                        <a class="scroll" href="#home">главная</a>
                    </li>
                    <li>
                        <a class="scroll" href="#about">о нас</a>
                    </li>
                    <li>
                        <a class="scroll" href="#work">работы</a>
                    </li>
                    <li>
                        <a class="scroll" href="#services">услуги</a>
                    </li>
                    <li>
                        <a class="scroll" href="#blog">журнал</a>
                    </li>
                    <li>
                        <a class="scroll" href="#contact">контакт</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="home">
        <div class="just_pattern"></div>
        <div class="parallax-home"></div>
        <div class="small-text">
            <div class="cl-effect-5"><a class="scroll" href="#work"><span data-hover="портфолио">портфолио</span></a> <a
                    class="scroll" href="#contact"><span data-hover="контакт">контакт</span></a></div>
        </div>
        <div class="social-top">
            <ul class="list-social">
                <li class="icon-soc tipped" data-title="twitter"
                    data-tipper-options='{"direction":"top","follow":"true"}'>
                    <a href="#">&#xf099;</a>
                </li>
                <li class="icon-soc tipped" data-title="facebook"
                    data-tipper-options='{"direction":"top","follow":"true"}'>
                    <a href="#">&#xf09a;</a>
                </li>
                <li class="icon-soc tipped" data-title="github"
                    data-tipper-options='{"direction":"top","follow":"true"}'>
                    <a href="#">&#xf09b;</a>
                </li>

				<li class="icon-soc tipped" data-title="google +"
    data-tipper-options='{"direction":"top","follow":"true"}'>
    <a href="#">&#xf0d5;</a>
</li>
</ul>
</div>
<div class="big-text">
    <ul class="flippy">
        <li><span>мы - Ananke</span></li>
        <li><span>РОЖДЕННЫЕ В ТВОРЧЕСТВЕ</span></li>
        <li><span>СФОКУСИРОВАННЫЕ НА СТРАТЕГИИ</span></li>
    </ul>
</div>
<a class="scroll" href="#about">
    <div class="scroll-btn tipped" data-title="о агентстве"
        data-tipper-options='{"direction":"top","follow":"true"}'></div>
</a>
</div>

<div id="about">
    <div class="container">
        <div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
            <div class="header-text">
                <div class="header-shadow-text">О нас</div>
                <h1>О нас</h1>
                <p>МЫ БЛИЗКАЯ КОМАНДА ТВОРЧЕСКИХ, ДИЗАЙНЕРСКИХ И РАЗРАБОТЧИКОВ, КОТОРЫЕ РАБОТАЮТ ВМЕСТЕ, ЧТОБЫ СОЗДАВАТЬ КРАСИВЫЕ И УВЛЕКАТЕЛЬНЫЕ ЦИФРОВЫЕ ОПЫТЫ.</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div id="about-what-we-do">
        <div class="container">
            <div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
                <div class="icon-left1">&#xf0c6;</div>
                <h5>Сетевые технологии.</h5>
                <p>В действительности, мы испытываем обвинения и правомерные оскорбления.</p>
            </div>
            <div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
                <div class="icon-left1">&#xf080;</div>
                <h5>Аналитика.</h5>
                <p>Мы понимаем, откуда возникают ошибки и как избежать их.</p>
            </div>
            <div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
                <div class="icon-left1">&#xf120;</div>
                <h5>Разработка.</h5>
                <p class="padding-bottom-project">Мы используем свободное время, чтобы выбирать лучшие варианты.</p>
            </div>
        </div>
    </div>
    <div class="video-sections">
        <div class="video-section-1">
            <div class="just_pattern"></div>
            <video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0"
                poster="images/1.jpg">
                <source src="videos/video.webm" type="video/webm">
                <source src="videos/video.mp4" type="video/mp4">
                <source src="videos/video.ogg" type="video/ogg">
            </video>
            <div class="text-over-video">Один день в офисе</div>
        </div>
        <div class="video-section-2">
            <div class="container">
                <div class="nine columns padding-top-video-sec2"
                    data-scrollreveal="enter right and move 150px over 1s">
                    <h5>ЧТО МЫ ДЕЛАЕМ.</h5>
                    <p>С помощью объединенных усилий мы создаем величественные результаты.</p>
                </div>
                <div class="clear"></div>
                <div class="nine columns" data-scrollreveal="enter right and move 150px over 1s">
                    <h5>ЧТО МЫ ДОСТИГАЕМ.</h5>
                    <p>Мы стремимся достичь успеха и привести к результату.</p>
                </div>
                <div class="clear"></div>
                <div class="nine columns" data-scrollreveal="enter right and move 150px over 1s">
                    <h5>В КОНЦЕ.</h5>
                    <p>Наши усилия приводят к отличным результатам.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="team">
    <div class="container">
        <div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
            <div class="header-text">
                <div class="header-shadow-text">команда</div>
                <h1>команда</h1>
                <p>МЫ МАЛЕНЬКАЯ, ДРУЖЕЛЮБНАЯ И ТАЛАНТЛИВАЯ КОМАНДА. МЫ СОЗДАЕМ КРАСИВЫЕ ЦИФРОВЫЕ РЕШЕНИЯ ДЛЯ УДИВИТЕЛЬНЫХ КЛИЕНТОВ НА ВСЕХ ПЛАТФОРМАХ.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="four columns" data-scrollreveal="enter left and move 150px over 1s">
            <div class="team-wrap">
                <img src="images/team1.jpg" alt="" />
                <h5>ДЖЕЙМС БИН</h5>
                <p>Креативный директор</p>
                <div class="team-line"></div>

					<div class="social-team">
						<ul class="team-social">
							<li class="icon-team tipped" data-title="twitter"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf099;</a>
							</li>
							<li class="icon-team tipped" data-title="facebook"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf09a;</a>
							</li>
							<li class="icon-team tipped" data-title="github"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf09b;</a>
							</li>
							<li class="icon-team tipped" data-title="google +"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf0d5;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="four columns" data-scrollreveal="enter left and move 150px over 1s">
				<div class="team-wrap">
					<img src="images/team2.jpg" alt="" />
					<h5>ИЗАБЕЛЛА МОРО</h5>
					<p>Директор компании</p>
					<div class="team-line"></div>
					<div class="social-team">
						<ul class="team-social">
							<li class="icon-team tipped" data-title="twitter"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf099;</a>
							</li>
							<li class="icon-team tipped" data-title="facebook"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf09a;</a>
							</li>
							<li class="icon-team tipped" data-title="github"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf09b;</a>
							</li>
							<li class="icon-team tipped" data-title="google +"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf0d5;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="four columns" data-scrollreveal="enter right and move 150px over 1s">
				<div class="team-wrap">
					<img src="images/team3.jpg" alt="" />
					<h5>ДЭВИД ИВ</h5>
					<p>Главный управляющий</p>
					<div class="team-line"></div>
					<div class="social-team">
						<ul class="team-social">
							<li class="icon-team tipped" data-title="twitter"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf099;</a>
							</li>
							<li class="icon-team tipped" data-title="facebook"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf09a;</a>
							</li>
							<li class="icon-team tipped" data-title="github"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf09b;</a>
							</li>
							<li class="icon-team tipped" data-title="google +"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf0d5;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="four columns" data-scrollreveal="enter right and move 150px over 1s">
				<div class="team-wrap">
					<img src="images/team4.jpg" alt="" />
					<h5>ДЖЕЙМС МОРО</h5>
					<p>Менеджер по персоналу</p>
					<div class="team-line"></div>
					<div class="social-team">
						<ul class="team-social">
							<li class="icon-team tipped" data-title="twitter"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf099;</a>
							</li>
							<li class="icon-team tipped" data-title="facebook"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf09a;</a>
							</li>
							<li class="icon-team tipped" data-title="github"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf09b;</a>
							</li>
							<li class="icon-team tipped" data-title="google +"
								data-tipper-options='{"direction":"top","follow":"true"}'>
								<a href="#">&#xf0d5;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="sep1">
		<div class="just_pattern"></div>
		<div class="parallax"></div>
		<div class="slideshow" id="slideshow">
			<ol class="slides">
				<li class="current">
					<div class="description">
						<h4>Слайд-шоу с наклонным контентом</h4>
						<p>Этот слайдер работает с трехмерной перспективой и выполняет несколько интересных анимаций на экране.
							изображения правой стороны.</p>
					</div>
					<div class="tiltview col">
						<a href="#"><img src="images/1_screen.jpg" alt="" /></a>
						<a href="#"><img src="images/2_screen.jpg" alt="" /></a>
					</div>
				</li>
				<li>
					<div class="description">
						<h4>CSS-анимации</h4>
						<p>Мы используем 12 различных анимаций для показа и скрытия элементов слайда.
							анимации определяются путем случайного добавления атрибутов данных, называемых<code>data-effect-in</code>
							and <code>data-effect-out</code> for every slide. </p>
					</div>
					<div class="tiltview row">
						<a href="#"><img src="images/3_mobile.jpg" alt="" /></a>
						<a href="#"><img src="images/4_mobile.jpg" alt="" /></a>
					</div>
				</li>
				<li>
					<div class="description">
						<h4>Наклоненные предметы</h4>
						<p>Перспективный вид достигается путем добавления значения перспективы к элементу списка слайдов и
							наклон раздела, содержащего два скриншота.</p>
					</div>
					<div class="tiltview col">
						<a href="#"><img src="images/5_screen.jpg" alt="" /></a>
						<a href="#"><img src="images/6_screen.jpg" alt="" /></a>
					</div>
				</li>
				<li>
					<div class="description">
						<h4>Столбец или строка</h4>
						<p>Предметы в наклоненном контейнере располагаются либо в столбце, либо в ряд. Для некоторых
							направления, нам нужно настроить задержки анимации для элементов, так как мы не хотим, чтобы
							элементы перекрывают друг друга при их перемещении внутрь или наружу.</p>
					</div>
					<div class="tiltview row">
						<a href="#"><img src="images/1_mobile.jpg" alt="" /></a>
						<a href="#"><img src="images/2_mobile.jpg" alt="" /></a>
					</div>
				</li>
				<li>
					<div class="description">
						<h4>Отзывчивость</h4>
						<p>На экранах меньшего размера элементы с правой стороны станут менее непрозрачными и будут служить
							только украшение. В центре внимания будет описание, которое займет всю ширину.</p>
					</div>
					<div class="tiltview col">
						<a href="#"><img src="images/3_screen.jpg" alt="" /></a>
						<a href="#"><img src="images/4_screen.jpg" alt="" /></a>
					</div>
				</li>
				<li>
					<div class="description">
						<h4>Навигация</h4>
						<p>Для «линейной» навигации мы используем небольшой трюк, чтобы сделать кликабельную область немного больше:
							добавьте толстую белую рамку вверху и внизу диапазона. Поскольку граница является частью
							элемент, он будет частью кликабельной зоны.</p>
					</div>
					<div class="tiltview row">
						<a href="#"><img src="images/5_mobile.jpg" alt="" /></a>
						<a href="#"><img src="images/6_mobile.jpg" alt="" /></a>
					</div>
				</li>
			</ol>
		</div><!-- /slideshow -->
	</div>


	<div id="work">
		<div class="container">
			<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
				<div class="header-text">
					<div class="header-shadow-text">work</div>
					<h1>работа</h1>
					<p>МЫ ВЕРИМ, что НАША РАБОТА ГОВОРИТ САМ ЗА СЕБЯ. ПРОСМОТРИТЕ НАШИ САМЫЕ ПОСЛЕДНИЕ ПРОЕКТЫ НИЖЕ.</p>
				</div>
			</div>
		</div>

		<div class="clear"></div>
		<div class="portfolio"></div>


		<div class="expander-wrap relative">
			<div id="expander-wrap">
				<p class="cls-btn"><a class="close">X</a></p>
				<div class="expander-inner"></div>
			</div>
		</div>


		<div class="clear"></div>
		<div class="container">
			<div class="sixteen columns">
				<div id="portfolio-filter">
					<ul id="filter">
						<li><a href="#" class="current" data-filter="*" title="">Show all</a></li>
						<li><a href="#" data-filter=".photography" title="">photography</a></li>
						<li><a href="#" data-filter=".illustration1" title="">illustration</a></li>
						<li><a href="#" data-filter=".motion-graphics" title="">motion graphics</a></li>
						<li><a href="#" data-filter=".web-design" title="">web design</a></li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="portfolio-wrap">
			<li class="portfolio-box photography web-design">
				<a class="expander" href="project2.html" title="">
					<img src="images/gallery/1.jpg" alt="" />
					<div class="mask"></div>
					<h4>Все время</h4>
				</a>
				<a class="fancybox-effects-d" href="images/gallery/1.jpg" title="">
					<div class="fancybox-button">&#xf106;</div>
				</a>
			</li>
			<li class="portfolio-box illustration1 motion-graphics">
				<a class="expander" href="project1.html" title="">
					<img src="images/gallery/2.jpg" alt="" />
					<div class="mask"></div>
					<h4>Беркут</h4>
				</a>
				<a class="fancybox-effects-d" href="images/gallery/2.jpg" title="">
					<div class="fancybox-button">&#xf106;</div>
				</a>
			</li>
			<li class="portfolio-box motion-graphics photography">
				<a class="expander" href="project3.html" title="">
					<img src="images/gallery/3.jpg" alt="" />
					<div class="mask"></div>
					<h4>Все время</h4>
				</a>
				<a class="fancybox-effects-d" href="images/gallery/3.jpg" title="">
					<div class="fancybox-button">&#xf106;</div>
				</a>
			</li>
			<li class="portfolio-box web-design illustration1">
				<a class="expander" href="project4.html" title="">
					<img src="images/gallery/4.jpg" alt="" />
					<div class="mask"></div>
					<h4>Фиксированный магазин</h4>
				</a>
				<a class="fancybox-effects-d" href="images/gallery/4.jpg" title="">
					<div class="fancybox-button">&#xf106;</div>
				</a>
			</li>
			<li class="portfolio-box photography web-design">
				<a class="expander" href="project2.html" title="">
					<img src="images/gallery/5.jpg" alt="" />
					<div class="mask"></div>
					<h4>Ла Катерия</h4>
				</a>
				<a class="fancybox-effects-d" href="images/gallery/5.jpg" title="">
					<div class="fancybox-button">&#xf106;</div>
				</a>
			</li>
			<li class="portfolio-box illustration1 motion-graphics">
				<a class="expander" href="project1.html" title="">
					<img src="images/gallery/6.jpg" alt="" />
					<div class="mask"></div>
					<h4>Набор «5-летие»</h4>
				</a>
				<a class="fancybox-effects-d" href="images/gallery/6.jpg" title="">
					<div class="fancybox-button">&#xf106;</div>
				</a>
			</li>
			<li class="portfolio-box motion-graphics photography">
				<a class="expander" href="project3.html" title="">
					<img src="images/gallery/7.jpg" alt="" />
					<div class="mask"></div>
					<h4>Ла Катерия</h4>
				</a>
				<a class="fancybox-effects-d" href="images/gallery/7.jpg" title="">
					<div class="fancybox-button">&#xf106;</div>
				</a>
			</li>
			<li class="portfolio-box web-design illustration1">
				<a class="expander" href="project4.html" title="">
					<img src="images/gallery/8.jpg" alt="" />
					<div class="mask"></div>
					<h4>Дэн Финк</h4>
				</a>
				<a class="fancybox-effects-d" href="images/gallery/8.jpg" title="">
					<div class="fancybox-button">&#xf106;</div>
				</a>
			</li>
		</ul>
		<div class="clear"></div>
		<div id="link-work">
			<div class="container">
				<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
					<h6>готов начать разговор?</h6>
					<div class="cl-effect-5"><a class="scroll" href="#contact"><span data-hover="contact us">get in
								touch</span></a></div>
				</div>
			</div>
		</div>
	</div>


	<div id="sep2">
		<div class="just_pattern"></div>
		<div class="parallax2"></div>
		<div class="container z-index">
			<div class="four columns">
				<div class="facts-wrap">
					<div class="facts-wrap-num"><span class="counter">87</span></div>
					<h5>Клиенты</h5>
				</div>
			</div>
			<div class="four columns">
				<div class="facts-wrap">
					<div class="facts-wrap-num"><span class="counter">25</span></div>
					<h5>Награды</h5>
				</div>
			</div>
			<div class="four columns">
				<div class="facts-wrap">
					<div class="facts-wrap-num"><span class="counter">68</span></div>
					<h5>Проекты</h5>
				</div>
			</div>
			<div class="four columns">
				<div class="facts-wrap">
					<div class="facts-wrap-num"><span class="counter">46</span></div>
					<h5>Почта</h5>
				</div>
			</div>
		</div>
	</div>





	<div id="services">
		<div class="container">
			<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
				<div class="header-text">
					<div class="header-shadow-text">services</div>
					<h1>услуги</h1>
					<p>ПРОСТО ПРОСМОТРИТЕ ВСЕ СПИСКИ УСЛУГ НИЖЕ, ЧТОБЫ ПОЛУЧИТЬ ОБЩЕЕ ПРЕДСТАВЛЕНИЕ О том, НА ЧТО МЫ СПОСОБНЫ.
						ДОСТАВКА.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
				<div class="services-offer">
					<span class="svg-icon flat-filled" id="filled-brush"></span>
					<h5>Креативный дизайн</h5>
					<p>да, Да не Креативный дизайн</p>
				</div>
			</div>
			<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
				<div class="services-offer">
					<span class="svg-icon flat-filled" id="filled-phone"></span>
					<h5>Адаптивный дизайн</h5>
					<p>привет</p>
				</div>
			</div>
			<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
				<div class="services-offer">
					<span class="svg-icon flat-filled" id="filled-message"></span>
					<h5>Отличная поддержка</h5>
					<p>ну пон</p>
				</div>
			</div>
			<div class="clear"></div>
			<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
				<div class="services-offer">
					<span class="svg-icon flat-filled" id="filled-clock"></span>
					<h5>быстрая поддержка</h5>
					<p>ччччч</p>
				</div>
			</div>
			<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
				<div class="services-offer">
					<span class="svg-icon flat-filled" id="filled-email"></span>
					<h5>Контактная форма</h5>
					<p>ыуууууууууууу.</p>
				</div>
			</div>
			<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
				<div class="services-offer">
					<span class="svg-icon flat-filled" id="filled-heart"></span>
					<h5>Сделано с любовью</h5>
					<p>Сделано с любовью, Anake</p>
				</div>
			</div>
		</div>
	</div>

	<div id="plans">
		<div class="container">
			<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
				<div class="header-text">
					<div class="header-shadow-text">our plans</div>
					<h1>наши планы</h1>
					<p>ВЫ МОЖЕТЕ НАСТРОЙИРОВАТЬ СВОЮ ТАБЛИЦУ ЦЕН С ИСПОЛЬЗОВАНИЕМ СЕТОЧНОЙ СИСТЕМЫ, ЧТОБЫ СДЕЛАТЬ ЕЕ ОТВЕТСТВЕННОЙ ДЛЯ
						МАЛЫЕ УСТРОЙСТВА.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="one-third column" data-scrollreveal="enter left and move 150px over 1s">
				<div class="plans-offer">
					<h3>$9.99<span> – в месяц</span></h3>
					<h6>Standard</h6>
					<p><strong>24/7</strong> ТЕХ ПОДДЕРЖКА</p>
					<p><strong>15</strong> ПРОЕКТЫ</p>
					<p><strong>5GB</strong> ХРАНИЛИЩЕ</p>
					<p>НЕОГРАНИЧЕННЫЕ ПОЛЬЗОВАТЕЛИ</p>
					<div class="cl-effect-5"><a href="#"><span data-hover="sing up">sing up</span></a></div>
				</div>
			</div>
			<div class="one-third column" data-scrollreveal="enter bottom and move 150px over 1s">
				<div class="plans-offer-gold">
					<h3>$17.99<span> – в месяц</span></h3>
					<h6>Gold</h6>
					<p><strong>24/7</strong> ТЕХ ПОДДЕРЖКА</p>
					<p><strong>25</strong> ПРОЕКТЫ</p>
					<p><strong>15GB</strong> ХРАНИЛИЩЕ</p>
					<p>НЕОГРАНИЧЕННЫЕ ПОЛЬЗОВАТЕЛИ</p>
					<div class="cl-effect-5"><a href="#"><span data-hover="sing up">sing up</span></a></div>
				</div>
			</div>
			<div class="one-third column" data-scrollreveal="enter right and move 150px over 1s">
				<div class="plans-offer">
					<h3>$34.99<span> – в месяц</span></h3>
					<h6>Premium</h6>
					<p><strong>24/7</strong> ТЕХ ПОДДЕРЖКА</p>
					<p><strong>100</strong> ПРОЕКТЫ</p>
					<p><strong>50GB</strong> ХРАНИЛИЩЕ</p>
					<p>НЕОГРАНИЧЕННЫЕ ПОЛЬЗОВАТЕЛИ</p>
					<div class="cl-effect-5"><a href="#"><span data-hover="sing up">sing up</span></a></div>
				</div>
			</div>
		</div>
	</div>

	<div id="logos">
		<div class="container">
			<div class="sixteen columns">
				<div class="logos-wrap">
					<img src="images/logos/1.png" alt="" />
				</div>
				<div class="logos-wrap">
					<img src="images/logos/2.png" alt="" />
				</div>
				<div class="logos-wrap">
					<img src="images/logos/3.png" alt="" />
				</div>
				<div class="logos-wrap">
					<img src="images/logos/4.png" alt="" />
				</div>
				<div class="logos-wrap">
					<img src="images/logos/5.png" alt="" />
				</div>
				<div class="logos-wrap">
					<img src="images/logos/2.png" alt="" />
				</div>
			</div>
		</div>
	</div>


	<div id="blog">
		<div class="just_pattern"></div>
		<div class="parallax1"></div>
		<div class="container z-index">
			<div class="one-third column">
				<div class="blog-post">
					<img src="images/blog/1.jpg" alt="" />
					<h5>Сообщение в блоге</h5>
					<p>БИЛАЛА КАК ТЫ ТАМ</p>
					<p><span>26.2.2014.</span><span> 3 comments</span></p>
				</div>
			</div>
			<div class="one-third column">
				<div class="blog-post">
					<img src="images/blog/2.jpg" alt="" />
					<h5>Сообщение в блоге</h5>
					<p>НУ ебать кнч я заебалься с этим</p>
					<p><span>17.2.2014.</span><span> 7 comments</span></p>
				</div>
			</div>
			<div class="one-third column">
				<div class="blog-post">
					<img src="images/blog/3.jpg" alt="" />
					<h5>Сообщение в блоге</h5>
					<p>хз чё написать</p>
					<p><span>12.2.2014.</span><span> 4 comments</span></p>
				</div>
			</div>
		</div>
	</div>


	<div id="contact">
		<div class="container">
			<div class="sixteen columns" data-scrollreveal="enter top and move 150px over 1s">
				<div class="header-text">
					<div class="header-shadow-text">contact</div>
					<h1>контакты</h1>
					<p>Мы создаем лучшие возможности для вашего бизнеса.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<form name="ajax-form" id="ajax-form" action="mail-it.php" method="post">
				<div class="four columns">
					<label for="name">Ваше имя: *
						<span class="error" id="err-name">пожалуйста, введите имя</span>
					</label>
					<input name="name" id="name" type="text" />
				</div>
				<div class="four columns">
					<label for="email">E-Mail: *
						<span class="error" id="err-email">пожалуйста, введите e-mail</span>
						<span class="error" id="err-emailvld">электронная почта не является допустимым форматом</span>
					</label>
					<input name="email" id="email" type="text" />
				</div>
				<div class="five columns">
					<label for="message">Расскажите нам все:</label>
					<textarea name="message" id="message"></textarea>
				</div>
				<div class="three columns">
					<div id="button-con"><button class="send_message" id="send">Представлять на рассмотрение</button></div>
				</div>
				<div class="clear"></div>
				<div class="error text-align-center" id="err-form">При проверке формы возникла проблема, проверьте!
				</div>
				<div class="error text-align-center" id="err-timedout">Время соединения с сервером истекло!</div>
				<div class="error" id="err-state"></div>
			</form>
			<div class="clear"></div>
			<div id="ajaxsuccess">Успешно отправлено!!</div>
			<div class="clear"></div>
			<div class="eight columns" data-scrollreveal="enter left and move 150px over 1s">
				<div class="contact-wrap">
					<p><i class="icon-contact1">&#xf095;</i><span>позвоните нам:</span> (381) 267-6386
						<small><em>понедельник – пятница |9:00–17:00 (GMT +1)</em></small>
					</p>
				</div>
			</div>
			<div class="eight columns" data-scrollreveal="enter right and move 150px over 1s">
				<div class="contact-wrap">
					<p><i class="icon-contact1">&#xf041;</i><span>Visit Us:</span> Первая улица, Санрайз-авеню, Нью-Йорк
						Йорк, США</p>
				</div>
			</div>
			<div class="sixteen columns" data-scrollreveal="enter bottom and move 150px over 1s">
				<a class="button-map close-map"><span>Найдите нас на карте</span></a>
			</div>
		</div>
		<div id="google_map"></div>
	</div>




	<div id="footer">
		<a class="scroll" href="#home">
			<div class="back-top">&#xf102;</div>
		</a>
		<div class="container">
			<div class="sixteen columns">
				<p>Сделано с<i class="icon-footer">&#xf004;</i>and<i class="icon-footer">&#xf0f4;</i>in Bacand часть USA, ну или я Frontend Сербия</p>
				<p><small>Спасибо за шаблончик-) курут </small></p>
			</div>
		</div>
	</div>



	<!-- JAVASCRIPT
    ================================================== -->
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/royal_preloader.min.js' %}"></script>
	<script type="text/javascript">
		(function ($) {
			"use strict";
			Royal_Preloader.config({
				mode: 'text', // 'number', "text" or "logo"
				text: 'Ananke',
				timeout: 0,
				showInfo: true,
				opacity: 1,
				background: ['#FFFFFF']
			});
		})(jQuery);
	</script>
	<script type="text/javascript" src="js/classie.js"></script>
	<script type="text/javascript" src="js/cbpAnimatedHeader.min.js"></script>
	<script type="text/javascript">
		(function ($) {
			"use strict";
			var pos = 0;

			window.setInterval(function () {
				pos++;
				document.getElementsByClassName('parallax-home')[0].style.backgroundPosition = pos + "px 0px";
			}, 40);
		})(jQuery);
	</script>
	<script type="text/javascript" src="{% static 'js/retina-1.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.js ' %}"></script>
	<script type="text/javascript" src="{% static 'js/flippy.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tiltSlider.js' %}"></script>
	<script>
		(function ($) {
			"use strict";
			new TiltSlider(document.getElementById('slideshow'));
		})(jQuery);
	</script>
	<!-- Подключение библиотек jQuery -->
	<script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.localscroll-1.2.7-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.scrollTo-1.4.2-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>


	<script type="text/javascript" src="{% static 'js/svg_inject_flat_icons_filled.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/contact.js' %}"></script>

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>


	<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/template.js' %}"></script>


</body>

</html>